### IntelliJ IDEA ###
original/venv/
out/
!target/
!**/src/main/**/out/
!**/src/test/**/out/
TradingStrategies.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Plotting Lib ##
testoutput/
/target/

### Secrets ###
/src/main/resources/secrets.properties
